@model LoginViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Gentelella Alela! | </title>

    <!-- Bootstrap -->
    <link href="~/public/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/public/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/public/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="~/public/vendors/animate.css/animate.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="~/public/build/css/custom.min.css" rel="stylesheet">
    <style type="text/css">
        .dropdownlistBranch {
            border-radius: 3px;
            box-shadow: 0 1px 0 #fff,0 -2px 5px rgba(0,0,0,0.08) inset;
            border: 1px solid #c8c8c8;
            color: #777;
            margin: 0 0 20px;
            width: 100%;
            height: 38px;
            font-size: 15px
        }
    </style>
</head>

<body class="login">
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>
        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    <form asp-controller="account" asp-action="loginwithUserBranch" method="post" asp-validation-summary="ModelOnly">
                        <h1>Login Form</h1>
                        <div class="" style="color:red;text-align:center">@ViewData["message"]</div>
                        <div>
                            <input type="text" class="ggg" asp-for="UserName1" placeholder="Điền email" required="" value="@ViewBag.userName" hidden>
                            <input type="password" class="ggg" asp-for="PassWord1" placeholder="Điền password" required="" value="@ViewBag.password" hidden>
                        </div>
                        <div>
                            @Html.DropDownListFor(x => x.userBranch, new SelectList(ViewBag.userBranch, "BranchId", "BranchId"), new { @class = "dropdownlistBranch" })
                        </div>
                        <div>
                            <input type="submit" value="Đăng nhập" name="login">
                            <a class="reset_pass" href="#">Lost your password?</a>
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator">
                            <p class="change_link">
                                New to site?
                                <a href="#signup" class="to_register"> Create Account </a>
                            </p>

                            <div class="clearfix"></div>
                            <br />

                            <div>
                                <h1>Intimex Group</h1>
                                <p>Công ty Cổ phần Tập đoàn Intimex</p>
                            </div>
                        </div>
                    </form>
                </section>
            </div>

            <div id="register" class="animate form registration_form">
                <section class="login_content">
                    <form>
                        <h1>Create Account</h1>
                        <div>
                            <input type="text" class="form-control" placeholder="Username" required="" />
                        </div>
                        <div>
                            <input type="email" class="form-control" placeholder="Email" required="" />
                        </div>
                        <div>
                            <input type="password" class="form-control" placeholder="Password" required="" />
                        </div>
                        <div>
                            <a class="btn btn-default submit" href="index.html">Submit</a>
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator">
                            <p class="change_link">
                                Already a member ?
                                <a href="#signin" class="to_register"> Log in </a>
                            </p>

                            <div class="clearfix"></div>
                            <br />

                            <div>
                                <h1>Intimex Group</h1>
                                <p>Công ty Cổ phần Tập đoàn Intimex</p>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</body>
</html>
