<div class="modal-body">
    <div class="form-group row">
        <div class="form-group col-md-12">
            <label class="col-form-label col-md-1 col-sm-1">Nội dung</label>
            <div class="col-md-11 col-sm-11">
                <textarea class="form-control" style="height:100px"></textarea>
            </div>
        </div>
    </div>
    <div class="form-group row" style="margin-bottom:0px">
        <div class="form-group col-md-12" style="margin-bottom:0px">
            <div class="form-group col-md-6">
                <button type="button" class="btn btn-secondary btn-sm" onclick="OpenPopUp_Handler()">Người nhận</button>
            </div>
            <div class="form-group col-md-6">
                <button type="button" class="btn btn-secondary btn-sm" onclick="OpenPopUp_Participant()">File Attach</button>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="form-group col-md-6">
            <table class="table" id="List_handler">
                <tr>
                    <th>
                        Người nhận
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </table>
        </div>
        <div class="form-group col-md-6">
            <table class="table" id="List_Participants">
                <tr>
                    <th>
                        Tệp
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">

</div>