
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>View</h1>

@(Html.DevExtreme().DataGrid<pmkd.Models.Hanghoa>()
    .DataSource(ds => ds.Mvc()
        .Controller("Hanghoas")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .Key("Mahang")
    )
    .RemoteOperations(true)
    .Columns(columns => {

        columns.AddFor(m => m.Idhanghoa);

        columns.AddFor(m => m.Mahang);

        columns.AddFor(m => m.Tenhang);

        columns.AddFor(m => m.Tenhangvat);

        columns.AddFor(m => m.MaNhom);

        columns.AddFor(m => m.Dvt);

        columns.AddFor(m => m.Vat);

        columns.AddFor(m => m.Sudung);

        columns.AddFor(m => m.Fullname);

        columns.AddFor(m => m.Quicach);

        columns.AddFor(m => m.Baobi);

        columns.AddFor(m => m.Kiemdinh);

        columns.AddFor(m => m.Visible);

        columns.AddFor(m => m.OrderNhom);

        columns.AddFor(m => m.DoAm);

        columns.AddFor(m => m.HatDen);

        columns.AddFor(m => m.TapChat);

        columns.AddFor(m => m.HatVo);
    })
    .Editing(e => e
        .AllowAdding(true)
        .AllowUpdating(true)
        .AllowDeleting(true)
    )
)