@{
    Layout = "_Layout";
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Số liệu</h4>
                <section>
                    <div class="icon-list-demo row">
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <img src="~/public/images/User_32x32.png"></img>Thông tin nhân sự
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"><img src="~/public/images/DocGo.png"></img>Phòng ban</div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <img src="~/public/images/DocProcess.png"></img>Chức danh
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <img src="~/public/images/User_32x32.png"></img>Thông tin ứng viên
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <img src="~/public/images/User_32x32.png"></img>Phiếu yêu cầu tuyển dụng
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <img src="~/public/images/User_32x32.png"></img>Danh mục bậc lương
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <img src="~/public/images/User_32x32.png"></img>Thông tin tiền lương
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <img src="~/public/images/User_32x32.png"></img>Danh mục bậc lương 205
                        </div>
                    </div>
                </section>

            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Báo biểu</h4>
                <div class="clearfix icon-list-demo row">
                    <div class="col-sm-6 col-md-4 col-lg-3"><img src="~/public/images/ReportDoc.png"></img>Báo cáo tổ chức nhân sự</div>
                    <div class="col-sm-6 col-md-4 col-lg-3"><img src="~/public/images/ReportDoc.png"></img>DSNV đến hạn hợp đồng</div>
                    <div class="col-sm-6 col-md-4 col-lg-3"><img src="~/public/images/ReportDoc.png"></img>Tình hình tăng giảm nhân sự</div>
                    <div class="col-sm-6 col-md-4 col-lg-3"><img src="~/public/images/ReportDoc.png"></img>Thông tin đoàn đảng</div>
                    <div class="col-sm-6 col-md-4 col-lg-3"><img src="~/public/images/ReportDoc.png"></img>Báo cáo kết quả phỏng vấn</div>
                    <div class="col-sm-6 col-md-4 col-lg-3"><img src="~/public/images/ReportDoc.png"></img>Danh sách ứng viên theo đợt</div>
                    <div class="col-sm-6 col-md-4 col-lg-3"><img src="~/public/images/ReportDoc.png"></img>Báo cáo yêu cầu tuyển dụng</div>
                    <div class="col-sm-6 col-md-4 col-lg-3"><img src="~/public/images/ReportDoc.png"></img>Danh sách CBNV</div>
                    <div class="col-sm-6 col-md-4 col-lg-3"><img src="~/public/images/ReportDoc.png"></img>Danh sách tham gia BHYT, BHXH, BHTN</div>
                </div>
            </div>

        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
        </div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- End footer -->
<!-- ============================================================== -->
    </div>