
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model IEnumerable<KhachHang>
<div class="right_col" role="main" style="height: 500px">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Thông tin hàng hóa</h3>
            </div>
            <div class="title_right">
                <div class="col-md-5 col-sm-5   form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        @{
            if (TempData["alertMessage"] != null)
            {
                <div style="color:red;font-size:30px">
                    @TempData["alertMessage"].ToString()
                </div>
            }
        }
        @{
            if (TempData["alertMessage1"] != null)
            {
                <div style="color:red;font-size:30px">
                    @TempData["alertMessage1"].ToString()
                </div>
            }
        }
        <div class="clearfix"></div>
        <div class="row" style="display: block;">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Hàng hóa</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Settings 1</a>
                                    <a class="dropdown-item" href="#">Settings 2</a>
                                </div>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box table-responsive">
                                    <form class="form-label-left input_mask" method="post" role="form">
                                        <div class="form-group row">
                                            <label class="col-form-label col-md-2 col-sm-2">TL hiện tại trên cân</label>
                                            <label class="col-form-label col-md-2 col-sm-2">TL xe và Hàng NK</label>
                                            <label class="col-form-label col-md-2 col-sm-2"></label>
                                            <label class="col-form-label col-md-2 col-sm-2"></label>
                                            <label class="col-form-label col-md-2 col-sm-2">TL xe</label>
                                            <label class="col-form-label col-md-2 col-sm-2">Trọng lượng hàng</label>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-2 col-sm-2">
                                                <input type="text" class="form-control" style="height:60px">
                                            </div>
                                            <div class="col-md-2 col-sm-2">
                                                <input type="text" class="form-control" style="height:60px">
                                            </div>
                                            <div class="col-md-2 col-sm-2">
                                                <input type="text" class="form-control" style="height:60px">
                                            </div>
                                            <div class="col-md-2 col-sm-2">
                                                <input type="text" class="form-control" style="height:60px">
                                            </div>
                                            <div class="col-md-2 col-sm-2">
                                                <input type="text" class="form-control" style="height:60px">
                                            </div>
                                            <div class="col-md-2 col-sm-2">
                                                <input type="text" class="form-control" style="height:60px">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-2 col-sm-2">
                                                <input type="text" class="form-control" style="height:30px">
                                            </div>
                                            <div class="col-md-2 col-sm-2">
                                                <input type="text" class="form-control" style="height:30px">
                                            </div>
                                            <div class="col-md-2 col-sm-2" style="display: flex; flex-direction: row; justify-content: center; align-items: center">
                                                <input type="text" class="form-control" style="height:30px">
                                                <button style="height:30px">S2</button>
                                            </div>
                                            <div class="col-md-2 col-sm-2" style="display: flex; flex-direction: row; justify-content: center; align-items: center">
                                                <input type="text" class="form-control" style="height:30px">
                                                <button style="height:30px">S2</button>
                                            </div>
                                            <div class="col-md-2 col-sm-2">
                                                <input type="text" class="form-control" style="height:30px">
                                            </div>
                                            <div class="col-md-2 col-sm-2">
                                                <input type="text" class="form-control" style="height:30px">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-12 col-sm-12">
                                                <input type="text" class="form-control" style="height:60px">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6" style="border:1px solid black;height:511px">
                                            @{
                                                var filterValue = new object[]
                                                {
                                                    new object[]{ "HinhThucCan",FilterBuilderFieldFilterOperations.Equal, 0 },
                                                    new object[] { "DateIn", DateTime.Now }
                                                };
                                            }
                                            @(Html.DevExtreme().DataGrid<pmkd.Models.Can>()
                                                    .DataSource(d => d.Mvc().Controller("kho")
                                                    .LoadAction("GetCan")
                                                    .Key("SystemId"))
                                                    .Columns(columns => {

                                                        columns.AddFor(m => m.SystemId).Visible(false);

                                                        columns.AddFor(m => m.HinhThucCan).Caption("Loại cân").Lookup(lookup => lookup.DataSource(new JS("hinhthuccan")).DisplayExpr("name").ValueExpr("id")).GroupIndex(0);

                                                        columns.AddFor(m => m.Xeptai1).Caption("Xếp tài");

                                                        columns.AddFor(m => m.DateIn).Caption("Ngày vào").Visible(false);

                                                        columns.AddFor(m => m.TruckNo).Caption("Số xe");

                                                        columns.AddFor(m => m.CustName).Caption("Khách hàng");

                                                        columns.AddFor(m => m.ProdCode).Caption("Mã hàng");

                                                        columns.AddFor(m => m.SoBao).Caption("Số bao");

                                                        columns.AddFor(m => m.BagName).Caption("Loại bao");

                                                        columns.AddFor(m => m.TlBao).Caption("Trọng lượng");

                                                        columns.AddFor(m => m.TlNet).Caption("NW");

                                                    }

                                                    )
                                                    .OnSelectionChanged("SelectionChanged_can")
                                                    .Selection(s => s.Mode(SelectionMode.Single))
                                                    .FilterPanel(f => f.Visible(true))
                                                    .HoverStateEnabled(true)
                                                    .Export(e => e.Enabled(true))
                                                    .FilterRow(filter => filter.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
                                                    .HeaderFilter(hearder => hearder.Visible(true))
                                                    .FilterValue(filterValue)
                                                    .FilterBuilder(f =>
                                                    f.CustomOperations(co =>
                                                    {
                                                        var o = co.Add();
                                                        o.Name("today");
                                                        o.Caption("today");
                                                        o.DataTypes(new[] { FilterBuilderFieldDataType.DateTime });
                                                        o.Icon("check");
                                                        o.HasValue(false);
                                                        o.CalculateFilterExpression("calculateFilterExpression");
                                                    })
                                                    .AllowHierarchicalFields(true))
                                                    .FilterBuilderPopup(p =>
                                                    p.Position(pos =>
                                                        pos.At(HorizontalAlignment.Center, VerticalAlignment.Top)
                                                            .My(HorizontalAlignment.Center, VerticalAlignment.Top)
                                                            .Offset(0, 10)
                                                        )
                                                    )
                                                    .AllowColumnResizing(true)
                                                    .AllowColumnReordering(true)
                                                    .ColumnAutoWidth(true)
                                                    .ColumnChooser(c => c.Enabled(true))
                                                    .ColumnFixing(c => c.Enabled(true))
                                                    .ShowBorders(true)
                                                    .Grouping(group => group.AutoExpandAll(true))
                                                    .SearchPanel(searchPanel => searchPanel.Visible(true))
                                                    .GroupPanel(groupPanel => groupPanel.Visible(true))
                                                    .Paging(paging => paging.PageSize(5))
                                                 )
                                        </div>
                                        <div class="col-md-6 col-sm-6" style="border:1px solid black">
                                            <div class="form-group row">
                                                <label class="col-form-label col-md-2 col-sm-2" style="font-size:12px;padding:5px 0px 0px 5px">Hình thức cân</label>
                                                <div class="col-md-4 col-sm-4" style="padding:5px 0px 0px 5px">
                                                    <select id="loaican" class="form-control">
                                                        <option value="0">Cân nhập hàng</option>
                                                        <option value="1">Cân xuất hàng</option>
                                                        <option value="2">Cân dịch vụ</option>
                                                    </select>
                                                </div>
                                                <label class="col-form-label col-md-2 col-sm-2">Cách cân</label>
                                                <div class="col-md-4 col-sm-4" style="padding:5px 0px 0px 5px">
                                                    <select id="cachcan" class="form-control">
                                                        <option value="0">Cân cắt đầu</option>
                                                        <option value="1">Cân nguyên xe</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-form-label col-md-2 col-sm-2" style="font-size:12px;padding:5px 0px 0px 5px">Xe VC1</label>
                                                <div class="col-md-4 col-sm-4" style="padding:5px 0px 0px 5px">
                                                    <input type="text" class="form-control" id="soxe1" style="height:30px">
                                                </div>
                                                <label class="col-form-label col-md-2 col-sm-2">Xe VC2</label>
                                                <div class="col-md-4 col-sm-4" style="padding:5px 0px 0px 5px">
                                                    <input type="text" class="form-control" style="height:30px">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-form-label col-md-2 col-sm-2" style="font-size:15px">Lệnh XK</label>
                                                <div class="col-md-5 col-sm-5" style="padding:5px 0px 0px 5px">
                                                    <input type="text" class="form-control"  style="height:30px">
                                                </div>
                                                <div class="col-md-5 col-sm-5" style="padding:5px 0px 0px 5px">
                                                    <input type="text" class="form-control" style="height:30px">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-md-12 col-sm-12">
                                                    <h3 id="trangthai" style="color:red;margin-left:100px"></h3>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-form-label col-md-2 col-sm-2" style="font-size:12px;padding:5px 0px 0px 5px">Hợp đồng</label>
                                                <div class="col-md-5 col-sm-5" style="padding:5px 0px 0px 5px">
                                                    <input type="text" class="form-control" style="height:30px" id="hopdong">
                                                </div>
                                                <div class="col-md-5 col-sm-5" style="padding:5px 0px 0px 5px">
                                                    <input type="text" class="form-control" style="height:30px">
                                                </div>
                                            </div>
                                            <div class="form-group row" style="padding:5px 0px 0px 5px">
                                                <label class="col-form-label col-md-2 col-sm-2" style="font-size:12px;padding:5px 0px 0px 5px">Hàng hóa</label>
                                                <div class="col-md-5 col-sm-5" style="padding:5px 0px 0px 5px">
                                                    <input type="text" class="form-control" style="height:30px" id="mahang">
                                                </div>
                                                <div class="col-md-5 col-sm-5" style="padding:5px 0px 0px 5px">
                                                    <input type="text" class="form-control" style="height:30px" id="tenhang">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-form-label col-md-2 col-sm-2" style="font-size:12px;padding:5px 0px 0px 5px">Loại bao</label>
                                                <div class="col-md-1 col-sm-1" style="padding:5px 0px 0px 5px">
                                                    <input type="text" class="form-control" style="height:30px" id="loaibao">
                                                </div>
                                                <div class="col-md-3 col-sm-3" style="padding:5px 0px 0px 5px">
                                                    <input type="text" class="form-control" style="height:30px" id="tenbao">
                                                </div>
                                                <div class="col-md-1 col-sm-1" style="padding:5px 0px 0px 5px">
                                                    <input type="text" class="form-control" style="height:30px" id="chatluongbao">
                                                </div>
                                                <label class="col-form-label col-md-1 col-sm-1" style="font-size:12px;padding:5px 0px 0px 5px">Đóng</label>
                                                <div class="col-md-1 col-sm-1" style="padding:5px 0px 0px 5px">
                                                    <input type="text" class="form-control" style="height:30px">
                                                </div>
                                                <label class="col-form-label col-md-3 col-sm-3" style="font-size:12px">Bao-Bao thổi-Bigbag/Cont-xe VC</label>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-form-label col-md-2 col-sm-2" style="font-size:12px;padding:5px 0px 0px 5px">Tổng số bao</label>
                                                <div class="col-md-4 col-sm-4" style="padding:5px 0px 0px 5px">
                                                    <input type="text" class="form-control" style="height:30px" id="sobao">
                                                </div>
                                                <label class="col-form-label col-md-2 col-sm-2" style="font-size:12px;padding:5px 0px 0px 5px">Tổng TL bao bì</label>
                                                <div class="col-md-4 col-sm-4" style="padding:5px 0px 0px 5px">
                                                    <input type="text" class="form-control" style="height:30px" id="tlbaobi">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-form-label col-md-2 col-sm-2" style="font-size:12px;padding:5px 0px 0px 5px">Mã khách</label>
                                                <div class="col-md-5 col-sm-5" style="padding:5px 0px 0px 5px">
                                                    <input type="text" class="form-control" style="height:30px" id="makhach">
                                                </div>
                                                <div class="col-md-5 col-sm-5" style="padding:5px 0px 0px 5px">
                                                    <input type="text" class="form-control" style="height:30px" id="tenkhach">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-form-label col-md-2 col-sm-2" style="font-size:12px;padding:5px 0px 0px 5px">Tên khách</label>
                                                <div class="col-md-10 col-sm-10" style="padding:5px 0px 0px 5px">
                                                    <input type="text" class="form-control" style="height:30px" id="tenkhach1">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-form-label col-md-2 col-sm-2" style="font-size:12px;padding:5px 0px 0px 5px">Ghi chú</label>
                                                <div class="col-md-10 col-sm-10" style="padding:5px 0px 0px 5px;display: flex; flex-direction: row; justify-content: center; align-items: center">
                                                    <input type="text" class="form-control" style="height:30px">
                                                    <button>save</button>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-md-12 col-sm-12" style="margin-left:30px">
                                                    <input class="form-check-input" type="checkbox">
                                                    <label class="form-check-label">
                                                        Nhận số cân
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12" style="border:1px solid black;float:left">
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group row">
                                                    <div class="col-md-1 col-sm-1" style="padding:5px 0px 0px 5px">
                                                        <input class="form-check-input" type="checkbox" style="margin-left:5px">
                                                        <label class="form-check-label" style="margin-left:22px">
                                                            All
                                                        </label>
                                                    </div>
                                                    <div class="col-md-2 col-sm-2" style="padding:5px 0px 0px 5px">
                                                        <input type="text" class="form-control" style="height:30px">
                                                    </div>
                                                    <label class="col-form-label col-md-1 col-sm-1" style="font-size:12px;padding:5px 0px 0px 5px">Bags</label>
                                                    <div class="col-md-2 col-sm-2" style="padding:5px 0px 0px 5px">
                                                        <input type="text" class="form-control" style="height:30px">
                                                    </div>
                                                    <label class="col-form-label col-md-1 col-sm-1" style="font-size:12px;padding:5px 0px 0px 5px">NW</label>
                                                    <div class="col-md-2 col-sm-2" style="padding:5px 0px 0px 5px">
                                                        <input type="text" class="form-control" style="height:30px">
                                                    </div>
                                                    <label class="col-form-label col-md-1 col-sm-1" style="font-size:12px;padding:5px 0px 0px 5px">kg</label>
                                                    <div class="col-md-2 col-sm-2" style="padding:5px 0px 0px 5px">
                                                        <button type="button">Warehouse receipt</button>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-form-label col-md-1 col-sm-1" style="font-size:12px;padding:5px 0px 0px 5px">Cộng</label>
                                                    <div class="col-md-2 col-sm-2" style="padding:5px 0px 0px 5px">
                                                        <input type="text" class="form-control" style="height:30px">
                                                    </div>
                                                    <label class="col-form-label col-md-1 col-sm-1" style="font-size:12px;padding:5px 0px 0px 5px">Xe</label>
                                                    <div class="col-md-2 col-sm-2" style="padding:5px 0px 0px 5px">
                                                        <input type="text" class="form-control" style="height:30px">
                                                    </div>
                                                    <label class="col-form-label col-md-1 col-sm-1" style="font-size:12px;padding:5px 0px 0px 5px">Bao</label>
                                                    <div class="col-md-2 col-sm-2" style="padding:5px 0px 0px 5px">
                                                        <input type="text" class="form-control" style="height:30px">
                                                    </div>
                                                    <label class="col-form-label col-md-1 col-sm-1" style="font-size:12px;padding:5px 0px 0px 5px">kg</label>
                                                    <div class="col-md-2 col-sm-2" style="padding:5px 0px 0px 5px">
                                                        <button type="button">Print WH receipt</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6" style="border-left:1px solid black">
                                                <div class="form-group row">
                                                    <label class="col-form-label col-md-2 col-sm-2" style="font-size:12px;padding:5px 0px 0px 5px">Ng giao/Lái xe</label>
                                                    <div class="col-md-4 col-sm-4" style="padding:5px 0px 0px 5px">
                                                        <input type="text" class="form-control" style="height:30px">
                                                    </div>
                                                    <label class="col-form-label col-md-2 col-sm-2" style="font-size:12px;padding:5px 0px 0px 5px">Người lập phiếu</label>
                                                    <div class="col-md-4 col-sm-4" style="padding:5px 0px 0px 5px">
                                                        <input type="text" class="form-control" style="height:30px">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-form-label col-md-2 col-sm-2" style="font-size:12px;padding:5px 0px 0px 5px">Nhân viên cân</label>
                                                    <div class="col-md-4 col-sm-4" style="padding:5px 0px 0px 5px">
                                                        <input type="text" class="form-control" style="height:30px">
                                                    </div>
                                                    <label class="col-form-label col-md-2 col-sm-2" style="font-size:12px;padding:5px 0px 0px 5px">Thủ kho</label>
                                                    <div class="col-md-4 col-sm-4" style="padding:5px 0px 0px 5px">
                                                        <input type="text" class="form-control" style="height:30px">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-form-label col-md-2 col-sm-2" style="font-size:12px;padding:5px 0px 0px 5px">Bảo vệ</label>
                                                    <div class="col-md-4 col-sm-4" style="padding:5px 0px 0px 5px">
                                                        <input type="text" class="form-control" style="height:30px">
                                                    </div>
                                                    <label class="col-form-label col-md-2 col-sm-2" style="font-size:12px;padding:5px 0px 0px 5px">LĐạo B.Phận</label>
                                                    <div class="col-md-4 col-sm-4" style="padding:5px 0px 0px 5px">
                                                        <input type="text" class="form-control" style="height:30px">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12" style="border:1px solid black;float:left">
                                            <div class="form-group row">
                                                <label class="col-form-label col-md-1 col-sm-1" style="font-size:15px;padding:15px 0px 0px 15px">Kho</label>
                                                <div class="col-md-4 col-sm-4" style="padding:5px 0px 0px 5px">
                                                    <input type="text" class="form-control">
                                                </div>
                                                <div class="col-md-1 col-sm-1" style="padding:5px 0px 0px 5px">
                                                    <button type="button">New</button>
                                                </div>
                                                <div class="col-md-1 col-sm-1" style="padding:5px 0px 0px 5px">
                                                    <button type="button">Save</button>
                                                </div>
                                                <div class="col-md-2 col-sm-2" style="padding:5px 0px 0px 5px">
                                                    <button type="button">Weight Notes</button>
                                                </div>
                                                <div class="col-md-2 col-sm-2" style="padding:5px 0px 0px 5px">
                                                    <button type="button">Re_weight</button>
                                                </div>
                                                <div class="col-md-1 col-sm-1" style="padding:5px 0px 0px 5px">
                                                    <button type="button">Excel</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
<!-- /page content -->
<!-- footer content -->
