@{
    Layout = "_Layout";
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Số liệu</h4>
                <section>
                    <div class="icon-list-demo row">
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <img src="~/public/images/6.png"></img>Phương án kinh doanh
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"><img src="~/public/images/7.png"></img>Hợp đồng mua bán</div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <img src="~/public/images/13.png"></img>Ghép phương án kinh doanh
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <img src="~/public/images/11.png"></img>Giao nhận hàng hóa
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <img src="~/public/images/27.png"></img>Fix giá hợp đồng
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <img src="~/public/images/9.png"></img>Cập nhật dữ liệu điện tử
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <img src="~/public/images/10.png"></img>Hoàn thành giao hàng
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <img src="~/public/images/history_32.png"></img>Tra cứu HĐMB
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <img src="~/public/images/DocProcess.png"></img>Phiếu KSC
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <img src="~/public/images/Balance.png"></img>Phiếu KSC
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <img src="~/public/images/Process.png"></img>Xử lý tồn kho
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <img src="~/public/images/Balance.png"></img>Điều khoản chất lượng
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <img src="~/public/images/13.png"></img>Phương án kinh doanh mới
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <img src="~/public/images/history_32.png"></img>Tra cứu hợp đồng mua bán từ invoice
                        </div>

                    </div>
                </section>

            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Báo biểu</h4>
                <div class="clearfix icon-list-demo row">
                    <div class="col-sm-6 col-md-4 col-lg-3"><img src="~/public/images/ReportContract32.png"></img>BC PAKD</div>
                    <div class="col-sm-6 col-md-4 col-lg-3"><img src="~/public/images/ReportContract32.png"></img>BC HĐ chưa giao - trễ hạn</div>
                    <div class="col-sm-6 col-md-4 col-lg-3"><img src="~/public/images/ReportContract32.png"></img>BC cân đối hàng hóa</div>
                    <div class="col-sm-6 col-md-4 col-lg-3"><img src="~/public/images/ReportContract32.png"></img>BC hợp đồng chưa fix giá</div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <img src="~/public/images/ReportContract32.png"></img>BC xuất nhập tồn
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <img src="~/public/images/ReportContract32.png"></img>Báo cáo hợp đồng mua bán
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <img src="~/public/images/ReportContract32.png"></img>Báo cáo tổng hợp hàng hóa
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <img src="~/public/images/ReportContract32.png"></img>BC HĐ Mượn-Cho mượn chưa trả hàng
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3"><img src="~/public/images/ReportContract32.png"></img>Đối chiếu hàng tồn kho với khách hàng</div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <img src="~/public/images/ReportContract32.png"></img>BC tình hình HĐKD
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <img src="~/public/images/ReportContract32.png"></img>BC nhập xuất sản xuất
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <img src="~/public/images/ReportContract32.png"></img>Bản kê nhập xuất hàng hóa
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3"><img src="~/public/images/ReportContract32.png"></img>Báo cáo cân xe</div>
                    <div class="col-sm-6 col-md-4 col-lg-3"><img src="~/public/images/ReportContract32.png"></img>Báo cáo KSC</div>
                    <div class="col-sm-6 col-md-4 col-lg-3"><img src="~/public/images/ReportContract32.png"></img>BC Kim ngạch theo thị trường</div>
                    <div class="col-sm-6 col-md-4 col-lg-3"><img src="~/public/images/ReportContract32.png"></img>BC tổng hợp nhập xuất sản xuất</div>
                    <div class="col-sm-6 col-md-4 col-lg-3"><img src="~/public/images/ReportContract32.png"></img>BC nhập xuất tồn theo khách hàng</div>
                    <div class="col-sm-6 col-md-4 col-lg-3"><img src="~/public/images/ReportContract32.png"></img>BC phụ kiện hợp đồng</div>
                    <div class="col-sm-6 col-md-4 col-lg-3"><img src="~/public/images/ReportContract32.png"></img>BC hợp đồng chưa giao - trễ hạn - gạo</div>
                </div>
            </div>

        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
        </div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- End footer -->
<!-- ============================================================== -->
    </div>