
@{
    ViewData["Title"] = "test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ViewModelHDMB
@{
    ViewData["Title"] = "addhdmb";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="right_col" role="main" style="height:800px">
    <div class="">
        <div class="col-md-12 col-sm-12">
            <form method="post" asp-action="themhopdong" asp-controller="hopdong">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Thêm<small>hợp đồng</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Settings 1</a>
                                    <a class="dropdown-item" href="#">Settings 2</a>
                                </div>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        @{
                            if (TempData["alertMessage"] != null)
                            {
                                <div style="color:red;font-size:30px">
                                    @TempData["alertMessage"].ToString()
                                </div>
                            }
                        }
                        @{
                            if (TempData["alertMessage1"] != null)
                            {
                                <div style="color:red;font-size:30px">
                                    @TempData["alertMessage1"].ToString()
                                </div>
                            }
                        }
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        @(Html.DevExtreme().Form<pmkd.Models.Hdmb>()
                            .ColCount(2)
                            
                            .Items(items => {
                                items.AddGroup()
                                    .ColCount(2)
                                    .ColSpan(2)
                                    .Items(groupItems => {
                                        groupItems.AddSimpleFor(m => m.TypeKd);

                                        groupItems.AddSimpleFor(m => m.Macn);

                                        groupItems.AddSimpleFor(m => m.Systemref);

                                        groupItems.AddSimpleFor(m => m.Ref);

                                        groupItems.AddSimpleFor(m => m.Sohd);

                                        groupItems.AddSimpleFor(m => m.Trangthai);

                                        groupItems.AddSimpleFor(m => m.MuaBan);

                                        groupItems.AddSimpleFor(m => m.Makhach);

                                        groupItems.AddSimpleFor(m => m.Ngayky);

                                        groupItems.AddSimpleFor(m => m.Ngaygiao);

                                        groupItems.AddSimpleFor(m => m.Ngayhl);

                                        groupItems.AddSimpleFor(m => m.Ngaytl);

                                        groupItems.AddSimpleFor(m => m.Nguoitl);

                                        groupItems.AddSimpleFor(m => m.Nguoilam);

                                        groupItems.AddSimpleFor(m => m.Ghichu);

                                        groupItems.AddSimpleFor(m => m.Pakd);

                                        groupItems.AddSimpleFor(m => m.SoPakd);

                                        groupItems.AddSimpleFor(m => m.IsFix);

                                        groupItems.AddSimpleFor(m => m.Tiente);

                                        groupItems.AddSimpleFor(m => m.ThanhtoanId);

                                        groupItems.AddSimpleFor(m => m.Thanhtoan);

                                        groupItems.AddSimpleFor(m => m.Ngaylam);

                                        groupItems.AddSimpleFor(m => m.IntKy);

                                        groupItems.AddSimpleFor(m => m.ClientKy);

                                        groupItems.AddSimpleFor(m => m.Docstatus);

                                        groupItems.AddSimpleFor(m => m.TrangthaiGhep);

                                        groupItems.AddSimpleFor(m => m.TienUngHd);

                                        groupItems.AddSimpleFor(m => m.TienUngTt);

                                        groupItems.AddSimpleFor(m => m.HdcmuonId);

                                        groupItems.AddSimpleFor(m => m.SoHdcmuon);

                                        groupItems.AddSimpleFor(m => m.DiaDiemGiaoHang);

                                        groupItems.AddSimpleFor(m => m.IsNoKhoDoi);

                                        

                                        groupItems.AddSimpleFor(m => m.VanChuyen);

                                        groupItems.AddSimpleFor(m => m.NgayTraPhaitra);

                                        groupItems.AddSimpleFor(m => m.Dichvu);

                                        groupItems.AddSimpleFor(m => m.Tenfull);
                                    });
                            })
                        )
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-9 col-sm-9  offset-md-5">
                        <button type="submit" asp-action="themhopdong" asp-controller="hopdong" class="btn btn-primary" style="margin-top: 30px">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>




