<div class="modal-body">
    @(Html.DevExtreme().SelectBox().OnSelectionChanged("SelectedImageDisplay").DataSource(ViewBag.ListImage))
</div>

@*----------------------------------------Modal image--------------------------------------------------------*@

<div class="modal fade" id="Popup_img" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img id="img_id" style="width:100%;height:100%">
                <div id="text_Popup_img">Đây là file Tif. Không thể xem. Hãy xem file trong thư mục Download.</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="Close_Popup_img()">Close</button>
            </div>
        </div>
    </div>
</div>

@*---------------------------------------------------------------------------------------------------------------*@

<div class="modal-footer">

</div>
<script>
    function Close_Popup_img() {
        $("#Popup_img").modal("hide");
    }
    function EOffice(fileName) {
        var DocId = document.getElementById("DocId").value;
        $.post('/DocProcess/EOffice', { 'fileName': fileName, 'DocId': DocId }, function (response) {
            $.notify(response, "success");
            $("#Popup_img").modal("hide");
        })
    }
    function Reply(fileName) {
        var DocId = document.getElementById("DocId").value;
        $.post('/DocProcess/Reply', { 'fileName': fileName, 'DocId': DocId }, function (response) {
            $.notify(response, "success");
            $("#Popup_img").modal("hide");
        })
    }
    function Send(fileName) {
        document.getElementById("fileName").value = fileName;
        $("#choose_receiver").modal("show");
    }
    function getDataGridInstance1() {
        return $("#dsnv").dxDataGrid("instance");
    }
    function choose_receiver() {
        getDataGridInstance1().getSelectedRowsData().done(function (rowData) {
            var array = []
            var DocId = document.getElementById("DocId").value;
            var fileName = document.getElementById("fileName").value
            rowData.forEach(element => { array.push(element.UserName1) })
            for (var i = 0; i < array.length; i++) {
                if (array.length != 0) {
                    $.ajax({
                        traditional: true,
                        dataType: 'json',
                        type: 'POST',
                        url: '/DocProcess/SendToReceiver',
                        data: { fileName: fileName, DocId: DocId, array: array },
                        success: function (data) {
                            $("#choose_receiver").modal("hide");
                            $.notify(data, "success");
                        },
                        error: function () {
                            $.notify("Something went wrong", "error");
                        }
                    })
                }
                else if (array_ListReciever.length == 0) {
                    $.notify("please choose reciever!", "error");
                }
            }
            $('#choose_handler_participant').modal('toggle');
        })
    }
</script>

