@{
    Layout = "_Layout";
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Số liệu</h4
                <section>
                    <div class="icon-list-demo row">
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <img src="~/public/images/DocCome.png"></img>Văn bản đến
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"><img src="~/public/images/DocGo.png"></img>Văn bản đi</div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <img src="~/public/images/DocProcess.png"></img>Quản lí văn bản
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <img src="~/public/images/Follow.png"></img>Theo dõi văn bảng
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <img src="~/public/images/Archives_48.png">Quản lí Hồ sơ - Công việc
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <img src="~/public/images/TablePrice.png"></img>Giá cà phê
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <img src="~/public/images/20.png"></img>Tài liệu họp
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <img src="~/public/images/Projector.png"></img>Màn hình chiếu
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <img src="~/public/images/calender.png"></img>Lịch công tác ban Tổng Giám Đốc
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <img src="~/public/images/Document.png"></img>Tài liệu mẫu
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <img src="~/public/images/Notice.png"></img>Thông báo
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <img src="~/public/images/24.png"></img>Bảng đánh giá hiệu quả làm việc
                        </div>
                    </div>
                </section>

            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Báo biểu</h4>
                <div class="clearfix icon-list-demo row">
                    <div class="col-sm-6 col-md-4 col-lg-3"><img src="~/public/images/ReportDoc.png"></img>Báo cáo công việc</div>
                    <div class="col-sm-6 col-md-4 col-lg-3"><img src="~/public/images/ReportDoc.png"></img>Báo cáo văn bảng đi đến</div>
                    <div class="col-sm-6 col-md-4 col-lg-3"><img src="~/public/images/history_32.png"></img>Lịch sử văn bản</div>
                    <div class="col-sm-6 col-md-4 col-lg-3"><img src="~/public/images/24.png"></img>Báo cáo tổng hợp đánh giá</div>
                </div>
            </div>

        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
        </div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- End footer -->
<!-- ============================================================== -->
    </div>