
@{
    ViewData["Title"] = "thongtinnhansu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="right_col" role="main" style="height: 500px">
    <div class="x_content">
        <div class="row">
            <div class="col-sm-12">
                Tiến
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
<!-- /page content -->
<!-- footer content -->
<!-- /page content -->
<!-- /page content -->
<!-- footer content -->
