@model Signer

@{ Layout = null; }

<div class="row">
    <div class="col-md-12">
        <form asp-action="AddOrEdit" asp-route-id="@Model.Id" onsubmit="return jQueryAjaxPost(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <div class="input-group">

                    <input asp-for="Id" class="form-control" />
                </div>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="MaKhach" class="control-label"></label>
                        <select asp-for="MaKhach">
                        @{ 
                            foreach (var a in ViewBag.kh)
                            {
                            <option value="@a.MaKhach">@a.MaKhach</option>
                            }
                        }
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Nguoiky" class="control-label"></label>
                        <input asp-for="Nguoiky" class="form-control" />
                        <span asp-validation-for="Nguoiky" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Uyquyen" class="control-label"></label>
                        <input asp-for="Uyquyen" class="form-control" />
                        <span asp-validation-for="Uyquyen" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Chucvu" class="control-label"></label>
                        <input asp-for="Chucvu" class="form-control" />
                        <span asp-validation-for="Chucvu" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6 offset-md-3">
                    <input type="submit" value="Submit" class="btn btn-primary btn-block" />
                </div>
            </div>
        </form>
    </div>
</div>
