@{
    Layout = "_Layout";
}
@{
    if (TempData["alertMessage"] != null)
    {
        <div class="alert alert-success  alert-dismissable">
            @TempData["alertMessage"].ToString()
        </div>
    }
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Số liệu</h4>
                <section>
                    <div class="icon-list-demo row">
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <a asp-action="nhomhanghoa" asp-controller="Danhmuc"><img src="~/public/images/32.png"></img>Hàng hóa</a>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"><img src="~/public/images/31.png"></img>Khách hàng</div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <img src="~/public/images/17.png"></img>Tiền tệ
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <img src="~/public/images/Town.png"></img>Huyện
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <img src="~/public/images/Home.png"></img>Xã
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <img src="~/public/images/DaiLy.png"></img>Đại lí
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <img src="~/public/images/NhomTruong.png"></img>Nhóm trưởng
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <img src="~/public/images/31.png"></img>Khách hàng đăng ký theo từng đơn vị
                        </div>
                    </div>
                </section>

            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Báo biểu</h4>
                <div class="clearfix icon-list-demo row">
                    <div class="col-sm-6 col-md-4 col-lg-3"></div>
                    <div class="col-sm-6 col-md-4 col-lg-3"></div>
                    <div class="col-sm-6 col-md-4 col-lg-3"></div>
                    <div class="col-sm-6 col-md-4 col-lg-3"></div>
                    <div class="col-sm-6 col-md-4 col-lg-3">

                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">

                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">

                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">

                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3"></div>
                    <div class="col-sm-6 col-md-4 col-lg-3">

                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">

                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">

                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3"></div>
                    <div class="col-sm-6 col-md-4 col-lg-3"></div>
                    <div class="col-sm-6 col-md-4 col-lg-3"></div>
                    <div class="col-sm-6 col-md-4 col-lg-3"></div>
                    <div class="col-sm-6 col-md-4 col-lg-3"></div>
                    <div class="col-sm-6 col-md-4 col-lg-3"></div>
                    <div class="col-sm-6 col-md-4 col-lg-3"></div>
                    <div class="col-sm-6 col-md-4 col-lg-3"></div>
                    <div class="col-sm-6 col-md-4 col-lg-3"></div>
                    <div class="col-sm-6 col-md-4 col-lg-3"></div>
                    <div class="col-sm-6 col-md-4 col-lg-3"></div>
                </div>
            </div>

        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
        </div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- End footer -->
<!-- ============================================================== -->
    </div>