@model Nhom_hang_hoa
@{
    ViewData["Title"] = "themnhomhang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Cập nhật hàng hóa</h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5  form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Update <small>hàng hóa</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a class="dropdown-item" href="#">Settings 1</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" asp-action="themnhomhang" asp-controller="danhmuc">
                            <div class="form-group">
                                <label asp-for="Manhom">Mã nhóm hàng</label>
                                <input type="text" class="form-control" asp-for="Manhom" placeholder="Mã nhóm hàng">
                                <span asp-validation-for="Manhom" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Manhom">Tên nhóm hàng</label>
                                <input type="text" class="form-control" asp-for="TenNhom" placeholder="Tên nhóm hàng">
                                <span asp-validation-for="TenNhom" class="text-danger"></span>

                            </div>
                            <button type="submit" asp-action="themnhomhang" asp-controller="danhmuc" class="btn btn-primary">Thêm nhóm hàng</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>