@{
    Layout = "_Layout";
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Số liệu</h4>
                <section>
                    <div class="icon-list-demo row">
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <img src="~/public/images/28.png"></img>Help
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"><img src="~/public/images/29.png"></img>Info</div>
                    </div>
                </section>

            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Báo biểu</h4>
            </div>

        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
        </div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- End footer -->
<!-- ============================================================== -->
    </div>