@{
    Layout = "_Layout";
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Số liệu</h4>
                <section>
                    <div class="icon-list-demo row">
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <img src="~/public/images/1.png"></img>Config system
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"><img src="~/public/images/2.png"></img>Hệ thống</div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <img src="~/public/images/change-password.png"></img>Change password
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <img src="~/public/images/i35.png"></img>Update
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <i class="fa fa-bandcamp"></i>Admin system
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <img src="~/public/images/16.png"></img>HĐMB đã ký
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <img src="~/public/images/i34.png"></img> Khách hàng sắp hết định mức
                        </div>
                    </div>
                </section>
                
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Báo biểu</h4>
                <div class="clearfix icon-list-demo row">
                    <div class="col-sm-6 col-md-4 col-lg-3"></div>
                    <div class="col-sm-6 col-md-4 col-lg-3"></div>
                    <div class="col-sm-6 col-md-4 col-lg-3"></div>
                    <div class="col-sm-6 col-md-4 col-lg-3"></div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                      
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                      
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3"></div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                       
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3"></div>
                    <div class="col-sm-6 col-md-4 col-lg-3"></div>
                    <div class="col-sm-6 col-md-4 col-lg-3"></div>
                    <div class="col-sm-6 col-md-4 col-lg-3"></div>
                    <div class="col-sm-6 col-md-4 col-lg-3"></div>
                    <div class="col-sm-6 col-md-4 col-lg-3"></div>
                    <div class="col-sm-6 col-md-4 col-lg-3"></div>
                    <div class="col-sm-6 col-md-4 col-lg-3"></div>
                    <div class="col-sm-6 col-md-4 col-lg-3"></div>
                    <div class="col-sm-6 col-md-4 col-lg-3"></div>
                    <div class="col-sm-6 col-md-4 col-lg-3"></div>
            </div>
        </div>
        
    </div>
</div>
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->
            </div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
        </div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- End footer -->
<!-- ============================================================== -->
    </div>