@{
    Layout = "_Layout";
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Số liệu</h4>
                </h6>
                <section>
                    <div class="icon-list-demo row">
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <img src="~/public/images/24.png"></img>Nhập chứng từ
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3"><img src="~/public/images/25.png"></img>Lập HĐ bán hàng</div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <img src="~/public/images/history_32.png"></img>Tra cứu chứng từ
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <img src="~/public/images/24.png"></img>Nhập giao nhận
                        </div>
                    </div>
                </section>

            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Báo biểu</h4>
                <div class="clearfix icon-list-demo row">
                    <div class="col-sm-6 col-md-4 col-lg-3"><img src="~/public/images/20.png"></img>Bảng kê bộ chứng từ</div>
                    <div class="col-sm-6 col-md-4 col-lg-3"><img src="~/public/images/21.png"></img>BC Kim ngạch - Doanh thu</div>
                    <div class="col-sm-6 col-md-4 col-lg-3"><img src="~/public/images/26.png"></img>BC hóa đơn nhập xuất khẩu</div>
                    <div class="col-sm-6 col-md-4 col-lg-3"><img src="~/public/images/20.png"></img>Bảng kê phân loại chứng từ</div>
                    <div class="col-sm-6 col-md-4 col-lg-3"><img src="~/public/images/20.png"></img>Bảng kê bộ chứng từ - kế toán
                    </div>
                  
                </div>
            </div>

        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
        </div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- End footer -->
<!-- ============================================================== -->
    </div>