
@{
    ViewData["Title"] = "editcthd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    if (TempData["alertMessage"] != null)
    {
        <div style="color:red">
            @TempData["alertMessage"].ToString()
        </div>
    }
}
@model KhachHang
<style>
    .input-validation-error {
        border-color: red;
</style>
<div class="right_col" role="main" style="height:800px">
    <div class="">
        <div class="col-md-12 col-sm-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Thêm<small>khách hàng</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Settings 1</a>
                                <a class="dropdown-item" href="#">Settings 2</a>
                            </div>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    @{
                        if (TempData["alertMessage"] != null)
                        {
                            <div style="color:red;font-size:30px">
                                @TempData["alertMessage"].ToString()
                            </div>
                        }
                    }
                    @{
                        if (TempData["alertMessage1"] != null)
                        {
                            <div style="color:red;font-size:30px">
                                @TempData["alertMessage1"].ToString()
                            </div>
                        }
                    }
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />

                    @(Html.DevExtreme().Form<pmkd.Models.KhachHang>()
    .LabelLocation(FormLabelLocation.Right)
    .Items(items => {
        items.AddGroup().Caption("Group1").Items(groupItems => {

            groupItems.AddSimpleFor(m => m.Idkhach);

            groupItems.AddSimpleFor(m => m.MaKhach);

            groupItems.AddSimpleFor(m => m.TenKhach);

            groupItems.AddSimpleFor(m => m.TenFull);

            groupItems.AddSimpleFor(m => m.Email);

            groupItems.AddSimpleFor(m => m.DiaChi);

            groupItems.AddSimpleFor(m => m.DienThoai);

            groupItems.AddSimpleFor(m => m.Fax);

            groupItems.AddSimpleFor(m => m.MaSoThue);

            groupItems.AddSimpleFor(m => m.TaiKhoan);

            groupItems.AddSimpleFor(m => m.NganHang);

            groupItems.AddSimpleFor(m => m.GiayPhep);

            groupItems.AddSimpleFor(m => m.NgayCap);

            groupItems.AddSimpleFor(m => m.MaCn);

            groupItems.AddSimpleFor(m => m.MatHang);

            groupItems.AddSimpleFor(m => m.CheckItem);

            groupItems.AddSimpleFor(m => m.CheckTh);

            groupItems.AddSimpleFor(m => m.GiaoDichMua);

            groupItems.AddSimpleFor(m => m.ThanhToanMua);

            groupItems.AddSimpleFor(m => m.GiaoDichBan);

            groupItems.AddSimpleFor(m => m.ThanhToanBan);

            groupItems.AddSimpleFor(m => m.GhiChu);

            groupItems.AddSimpleFor(m => m.GiaoDich);

            groupItems.AddSimpleFor(m => m.DateActive);

            groupItems.AddSimpleFor(m => m.MaKhuvuc);

            groupItems.AddSimpleFor(m => m.TenQg);

            groupItems.AddSimpleFor(m => m.ToaKinhTe);

            groupItems.AddSimpleFor(m => m.CreatedDate);

            groupItems.AddSimpleFor(m => m.CreatedBy);

            groupItems.AddSimpleFor(m => m.ModifiedDate);

            groupItems.AddSimpleFor(m => m.ModifiedBy);

            groupItems.AddSimpleFor(m => m.Vanchuyen);

            groupItems.AddSimpleFor(m => m.Bocxep);

            groupItems.AddSimpleFor(m => m.LoaiKhach);

            groupItems.AddSimpleFor(m => m.NguoiKy1);

            groupItems.AddSimpleFor(m => m.ChucVu1);

            groupItems.AddSimpleFor(m => m.UyQuyen1);

            groupItems.AddSimpleFor(m => m.NguoiKy2);

            groupItems.AddSimpleFor(m => m.ChucVu2);

            groupItems.AddSimpleFor(m => m.UyQuyen2);

            groupItems.AddSimpleFor(m => m.Visible);

            groupItems.AddSimpleFor(m => m.Sanluong);

            groupItems.AddSimpleFor(m => m.Dientich);

            groupItems.AddSimpleFor(m => m.MaHd);
        });
    })
)
                </div>
            </div>
        </div>
    </div>
</div>











